
body {
    width: 500px;
    margin: auto;
}
section {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif; color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: center;
}
.middle {
    background-color: white;
    font-family: cursive; color: black; font-size: 40px;
    
}

.lower {
    border-radius: 0px 0px 10px 10px;
    height: 30px;
}
